name: Publish to Sonatype Central Repository and deploy docs to GitHub Pages

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v3
      - name: Set JDK version
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'oracle'
          cache: 'gradle'

      - name: Build with Gradle
        run: ./gradlew build

      - name: Publish to Sonatype Central
        run: ./gradlew publishLibraryPublicationToSonatypeCentralRepository
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGKEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGPASSWORD }}
          ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.ORG_GRADLE_PROJECT_SONATYPEUSERNAME }}
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.ORG_GRADLE_PROJECT_SONATYPEPASSWORD }}

  deploy-docs:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v3
      - name: Set JDK version
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'oracle'
          cache: 'gradle'

      - name: Checkout older versions
        run: git worktree add ./gh-action-publish-deploy-docs gh-pages

      - name: Dokka Html
        run: ./gradlew dokkaHtmlMultiModuleVersioning
        env:
          ORG_GRADLE_PROJECT_olderDokkaVersionsDir: gh-action-publish-deploy-docs/versions
          ORG_GRADLE_PROJECT_docsOutputDir: gh-action-publish-deploy-docs/docs

      - name: Deploy docs to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./gh-action-publish-deploy-docs