name: Create draft release from version tag and upload sample APK

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  create-release:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v3
      - name: Set JDK version
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'oracle'
          cache: 'gradle'

      - name: Assemble with Gradle
        run: ./gradlew sample:assembleDebug

      - name: Create draft release
        uses: softprops/action-gh-release@v1
        with:
          files: ./sample/build/outputs/apk/debug/sample-debug.apk
          draft: true