name: Lint, test and coverage

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v3
      - name: Set JDK version
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'oracle'
          cache: 'gradle'

      - name: Lint with Ktlint
        run: ./gradlew spotlessCheck

      - name: Test with Gradle
        run: ./gradlew test

      - name: Report Jacoco coverage to CodeClimate
        uses: paambaati/codeclimate-action@v3.0.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CODECLIMATE_TEST_REPORTER_ID }}
          JACOCO_SOURCE_PATH: "${{github.workspace}}/livecallback/src/main/java"
        with:
          coverageCommand: ./gradlew jacocoTestReport
          coverageLocations: ${{ github.workspace }}/livecallback/build/reports/jacoco/test/jacocoTestReport.xml:jacoco